/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.idea
.env.php
.DS_Store
Thumbs.db
/nbproject/private/
/app/config/database.php
.idea/.name
.idea/deployment.xml
.idea/encodings.xml
.idea/medisom.iml
.idea/misc.xml
.idea/php.xml
.idea/webServers.xml
.idea/workspace.xml
cgi-bin/
